---
import CatalogoConFiltro from '../../components/Autoscatalogo';
import Layout from '../../layouts/Layout.astro';
const { page = '' } = Astro.params;
---

<Layout title='Catalogo'>
    <h1 class="text-xl font-bold text-center text-black px-5 py-5 mt-[160px] md:mt-[200px] md:text-4xl ">
        Catálogo de Vehículos
    </h1>
      <CatalogoConFiltro page={page} client:load />
</Layout>