<footer class="bg-[#131b28] text-gray-300 py-8">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Sección de Información de la Empresa -->
    <div class="space-y-4">
      <div class="flex items-center space-x-2">
       <img src="/images/logo-automotive2.webp" alt="Automotive Consulting" class="w-32 h-full">
        
      </div>
      <p class="text-sm">
        Automotive Consulting @2024<br />
        Todos los derechos reservados
      </p>
      <div class="flex items-center gap-2">
        <div>
          <a href="https://www.facebook.com/automotiveconsultingcl" target="_blank">
            <img src="/images/facebook.png" alt="facebook" width="32px" height="50px">
        </a>
        </div>

        <div>
          <a href="https://www.instagram.com/automotive_consulting_cl/" target="_blank">
            <img src="/images/instagram.png" alt="facebook" width="38px" height="50px">
        </a>
        </div>
     </div>
    </div>

    <!-- Sección de Enlaces -->
    <div>
      <h3 class="text-white font-semibold mb-4">Enlaces</h3>
      <ul class="space-y-2">
        <li><a href="/" class="text-cyan-300 hover:underline">Inicio</a></li>
        <li><a href="/nosotros" class="text-cyan-300 hover:underline">Nosotros</a></li>
        <li><a href="/catalogo/1" class="text-cyan-300 hover:underline">Catálogo</a></li>
        <li><a href="/contacto" class="text-cyan-300 hover:underline">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de Información de Contacto -->
    <div>
      <h3 class="text-white font-semibold mb-4">Información de contacto</h3>
      <ul class="space-y-2">
        <li><a href="mailto:roco.solange@automotiveconsulting.cl" class="text-cyan-300 hover:underline">roco.solange@automotiveconsulting.cl</a></li>
        <li><a href="mailto:naranjo.alvaro@automotiveconsulting.cl" class="text-cyan-300 hover:underline">naranjo.alvaro@automotiveconsulting.cl</a></li>
      </ul>
      <h4 class="text-white font-semibold mt-4">Llámanos</h4>
      <ul class="space-y-2">
        <li><a href="tel:+56976225094" class="text-cyan-300 hover:underline">+569 7622 5094</a></li>
        <li><a href="tel:+56962828236" class="text-cyan-300 hover:underline">+569 6282 8236</a></li>
      </ul>

      <div class="my-10">
        <p>Puedes pagar con:</p>
        <img src="/images/webpay-logo-chile.webp" alt="sence" width="150px" height="100px">
      </div>
    </div>
  </div>

  <div class="mt-8 border-t border-gray-700 pt-4 text-center text-sm">
    Diseño y desarrollo | <a href="https://venpu.cl" class="text-cyan-300 hover:underline">venpu.cl</a>
  </div>
</footer>

