
<section>
  <section id="slider2" class="splide mt-[100px]" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list relative">
        <li class="splide__slide relative">
         <a href="/catalogo/1">
          <img src="/images/banners/banner-automotive-01.webp" alt="automotive consulting" class="w-full h-auto"/>
         </a>
        </li>

        <li class="splide__slide relative">
        <a href="/contacto">
          <img src="/images/banners/banner-automotive-02.webp" alt="automotive consulting" class="w-full h-auto"/>
        </a>
        </li>

        <li class="splide__slide relative">
        <a href="/catalogo/1">
          <img src="/images/banners/banner-automotive-03.webp" alt="automotive consulting" class="w-full h-auto"/>
        </a>
        </li>
      </ul>
      <script>
        import "@splidejs/splide/css";
        import Splide from "@splidejs/splide";

        let slider = new Splide("#slider2", {
          type: "loop",
          gap: "5vw",
          focus: "center",
          autoplay: true,
          interval: 5000,
          pauseOnHover: false,
          perPage: 1,
          arrows:false,
        });
        slider.mount();
      </script>
    </div>
  </section>
</section>

<style>
  .splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width:468px){
    .splide__slide img {
      width: 100%;
      height:auto;
      object-fit: cover;
    }
  }

</style>